fastapi==0.117.1
uvicorn==0.15.0
sentence-transformers
spacy==3.7.5
tiktoken
python-multipart
google-cloud-storage
google-cloud-vision
google-cloud-firestore
google-genai
pypdf
python-docx
passlib[bcrypt]